<div class="editor-container">
    <div class="editor-tab tab">
        <div class="title-container">
            <div class="rotate-container rotate-270">
                <div class="title">
                    <span>Configure Facets</span>
                    <button class="toggle">&#x25BC;</button>
                </div>
            </div>
        </div>

        <div class="body-container">
            <div class="body">
                <div class="inner">
                    <div class="quantity-field">
                        <div class="quantity-field-info-select">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
