<!doctype html>
<html lang="en">
<head>

    <style type="text/css">
        #main {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

	<script type="text/javascript">
        BASE_PATH ="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/')}}";
        ASSETS_PATH = "{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/assets/')}}";
		var GeoRefine = {};
		GeoRefine.config = {{georefine_config}};
        GeoRefine.config.mainEl= '#main';
	</script>

    <script type="text/javascript" src="{{app_config_url}}"></script>

    {% if app.config['GRC_USE_MINIFIED']%}
    <link rel="stylesheet" href="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/dist/css/consolidated.css')}}" type="text/css">
    <script src="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/dist/GeoRefineClient.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/src/app.js')}}"></script>

    {% else %}
    <script src="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/require_config.js')}}"></script>
    <script src="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/assets/js/require.js')}}"></script>
    <script src="{{url_for('static', filename='GeoRefine_Assets/GeoRefineClient/src/app-dev.js')}}"></script>
    {% endif %}

</head>

<body>
    <div id="main">
	</div>
</body>
</html>


