<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='js/GeoRefineClient/src/styles/GeoRefineClient-example.less')}}">
    <script src="{{url_for('static', filename='assets/js/less.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/js/jquery.ui/styles/jquery-ui-1.8.18.custom.css')}}" type="text/css">

	<script type="text/javascript">
        STATIC_BASEURL = "{{url_for('static', filename='')}}";
		var GeoRefine = {};
        GeoRefine.app = {};
		GeoRefine.config = {{georefine_config}};
	</script>

    <script src="{{url_for('static', filename='assets/js/require_config.js')}}"></script>
    <script data-main="{{url_for('static', filename='assets/js/')}}" src="{{url_for('static', filename='assets/js/require.js/require.js')}}"></script>

	<script type="text/javascript">
		require(
			[
			"jquery",
			"use!backbone",
			"use!underscore",
			"_s",
			"use!ui",
			"GeoRefineClient"
			],
			function($, Backbone, _, _s, ui, GeoRefineClient){
				var grc_m = new Backbone.Model();
				var grc_v = new GeoRefineClient.views.GeoRefineClientView({
					model: grc_m,
					el: $("#main")
				});

			$(document).ready(function(){
			});

		});
	</script>

</head>

<body>
	<div id="main" style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;">
	</div>
</body>
</html>


