<!doctype html>
<html lang="en">
<head>
	<script src="/static/sasi_assets/js/less.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/sasi_assets/js/jquery.ui/styles/jquery-ui-1.8.18.custom.css" type="text/css">

	<script type="text/javascript">
		var GeoRefine = {};
		GeoRefine.config = {
project_id: {{ project_id }},
facets: {{ facets }}
		};
	</script>

	<script src="/static/js/require_config.js"></script>
	<script data-main="/static/js/facets_test" src="/static/sasi_assets/js/require.js/require.js"></script>

	<script src="/static/js/facets_test.js"></script>

	<script type="text/javascript">
		 less.env = 'development';
		 //less.watch();
	</script>

</head>

<body>

	<div class="container" style="width: 800px; height: 600px; margin-left: auto; margin-right: auto;">
		<div id="main" style="min-width:100%; min-height: 100%; border: thin solid black;">
		</div>
	</div>
</body>
</html>


