<div class="inner">

	<div class="left-panel panel">
		<div class="inner">

			<div class="tabs">
				<ul>
					<li><a href="#<%= model.cid %>-facets">Facet/Filter</a></li>
				</ul>	

				<div id="<%= model.cid %>-facets" class="facets">
				</div>

			</div>

		</div>
	</div>

	<div class="right-panel panel">

		<div class="inner">

			<div class="top-bar">

				<div class="summary-bar bar">
				</div>

				<div class="tool-bar bar">
				</div>

			</div>

			<div class="data-views">
				<div class="launchers">
					<button class="button add-map-button">Add Map</button>
					<button class="button add-chart-button">Add Chart</button>
				</div>
				<div class="dock">
				</div>

				<div class="data-views-container">
				</div>
			</div>

		</div>

	</div>

</div>


