<div class="inner">

    <div class="left-panel panel">
        <div class="inner">
            <div class="facets-editor"></div>
        </div>
    </div>

    <div class="right-panel panel">

        <div class="header">
            <h3>Views</h3>
            <div class="launchers">
                <button class="button add-map-button">Add Map</button>
                <button class="button add-chart-button">Add Chart</button>
            </div>
        </div>

        <div class="body">


            <div class="data-views-container">
                <div class="inner">
                    <div class="data-views">
                    </div>
                    <div class="data-views-constraint">
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


