<div class="inner">

	<div class="left-panel panel">
		<div class="inner">

            <div class="facets-editor">

                <table class="facets-editor-table table">

                    <tr class="middle-row row">

                        <td class="left-column cell">

                            <div class="facets-editor-container">

                                <div class="facets-editor-tab tab">
                                    <div class="title-container">
                                        <div class="rotate-container rotate-270">
                                            <div class="title">
                                                <span>Configure Facets</span>
                                                <button class="toggle">&#x25BC;</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="body-container">
                                        <div class="body">
                                            <div class="inner">
                                                <div class="quantity-field">
                                                    <div class="quantity-field-info-select">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </td>

                        <td class="right-column cell">
                            <table>
                                <tr>
                                    <td>
                                        <div class="summary-bar-container">
                                            <div class="summary-bar">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="facets-container">
                                            <div id="<%= model.cid %>-facets" class="facets">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>

                </table>
            </div>

        </div>
    </div>

	<div class="right-panel panel">

		<div class="inner">

			<div class="launchers">
				<button class="button add-map-button">Add Map</button>
				<button class="button add-chart-button">Add Chart</button>
			</div>

			<div class="data-views-container">
				<div class="data-views">
				</div>
			</div>

		</div>

	</div>

</div>


