@import url("facets-styles/facets-example.less");
@import url("mapview-styles/mapview-example.less");
@import url("windows-styles/windows-example.less");
@import url("charts-styles/charts-example.less");

.georefine-client{

    .panel{
		overflow: hidden;
		padding: 0px;
		position: absolute;
		height: 100%;
	}

	> .inner{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.left-panel{

		> .inner{

			left: 0px;
			top: 0px;
			bottom: 0px;
			width: 300px;

			> .tabs {
				height: 100%;

				> .tabs-nav {
					padding: 5px 7px 0px 7px;
					margin: 0px;
					height: 27px;
					background-color: #e3e9ff;

					> .tabs-nav-tab  {
						height: 100%;
						display: inline-block;
						margin: 0em .2em 0em 0;
						padding: 0px;
						border-color: @chrome_primary;
						border-style: solid;
						border-width: thin thin 0 thin;
						background-color: white;

						.text {
							display: block;
							color: inherit;
							margin-bottom: 0px;
							height: 14px;
							padding: 4px 10px 0 10px;
							font-family: Verdana, Arial, sans-serif;
							font-weight: bold;
							font-size: 11px;
							text-decoration: none;
						}
					}
				}

				> .tabs-content {
					border-color: @chrome_primary;
					border-style: solid;
					border-width: 1px 0px 0px 0px;

					> .tabs-content-container {
						padding: 0;
					}
				}
			}

			.facets {
				width: 100%;
				height: 100%;
				overflow-y: scroll;
				overflow-x: scroll;
			}

			.ui-resizable-handle{
			}

		}
	}
	
	.right-panel{
		left: 300px;
		top: 0px;
		right: 0px;
		bottom: 0px;

		> .inner {

			@top_bar_h: 27px;
			@launcher_bar_h: 27px;

			> .top-bar{
				height: @top_bar_h;
				vertical-align: baseline;
				position: relative;
				background: #bcf;

				> .bar{
					position: absolute;
				}

				> .summary-bar {
					left: 7px;
					font-weight: bold;
				}

			}

			> .launchers {
				width: 100%;
				height: @launcher_bar_h;
			}

			> .data-views-container{
				position: absolute;
				top: @top_bar_h + @launcher_bar_h;
				bottom: 0px;
				width: 100%;

				> .data-views{
					height: 100%;
					width: 100%;
				}
			}
		}
	}	
}

