@import url("facets-styles/facets-example.less");
@import url("mapview-styles/mapview-example.less");
@import url("windows-styles/windows-example.less");
@import url("charts-styles/charts-example.less");
@import url("filters-editor.less");
@import url("qtip-styles/jquery.qtip.css");
@import "rounded-corners.less";

@link_primary: #11c;
@link_secondary: #4272db;
@chrome_primary: #bcf;
@chrome_secondary: #e3e9ff;
@chrome_dark: #828eb2;
@fill_primary: #ebeef8;
@fill_secondary: #f2f2f2;
@fill_editable: #ffffd6;
@selected_primary: #68e;
@selected_highlight: #FF6A00;
@green_primary: #282;
@green_secondary: #3d3;
@notification_primary: #fe8;
@faint_grey: #ddd;
@light_grey: #999;
@metadata_grey: #777;
@near_black: #444;
@dialog_frame: #3a5774;
@dialog_border: #c1d9ff;
@dialog_header: #e0edfe;
@dialog_footer: #eee;


@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

.georefine-client{

    .panel{
		overflow: hidden;
		padding: 0px;
		position: absolute;
		height: 100%;
	}

	> .inner{
		width: 100%;
		height: 100%;
		position: relative;
	}

    @lp_w: 300px;
	.left-panel{

		> .inner{
			width: @lp_w;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
		}
	}
	
	.right-panel{
		left: @lp_w;
		top: 0px;
		right: 0px;
		bottom: 0px;

		> .inner {

			@top_bar_h: 27px;
			@launcher_bar_h: 27px;

            padding: 7px;

			> .launchers {
				width: 100%;
				height: @launcher_bar_h;
			}

			> .data-views-container{
				position: absolute;
				top: @launcher_bar_h + 7px;
				bottom: 0px;
				width: 100%;

				> .data-views{
					height: 100%;
					width: 100%;
				}
			}
		}
	}	

}

.qtip.facet-choice-flyout {
    @h: 260px;
    @w: 325px;
    @image_w: 75px;

    //.rounded_corners(7px);
    border: thin solid @chrome_primary;

    background-color: white;

    height: @h;
    width: @w;

    .ui-tooltip-content{
        position: absolute;
        top: @padding_normal;
        bottom: @padding_normal;
        left: @padding_normal;
        right: @padding_normal;
        padding: 0;

        .flyout{
            height: 100%;
            width: 100%;
            background-color: #eeeeee;
            h2 {
                font-size: 100%;
                color: #FF6A00;
            }
            img {
                max-width: @image_w;
            }
        }
    }
}
