@import url("facets-styles/facets-example.less");
@import url("mapview-styles/mapview-example.less");
@import url("windows-styles/windows-example.less");
@import url("charts-styles/charts-example.less");
@import url("filters-editor.less");
@import url("qtip-styles/jquery.qtip.css");

.georefine-client{

    .panel{
		overflow: hidden;
		padding: 0px;
		position: absolute;
		height: 100%;
	}

	> .inner{
		width: 100%;
		height: 100%;
		position: relative;
	}

    @lp_w: 300px;
	.left-panel{

		> .inner{
			width: @lp_w;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
		}
	}
	
	.right-panel{
		left: @lp_w;
		top: 0px;
		right: 0px;
		bottom: 0px;

		> .inner {

			@top_bar_h: 27px;
			@launcher_bar_h: 27px;

            padding: 7px;

			> .launchers {
				width: 100%;
				height: @launcher_bar_h;
			}

			> .data-views-container{
				position: absolute;
				top: @launcher_bar_h + 7px;
				bottom: 0px;
				width: 100%;

				> .data-views{
					height: 100%;
					width: 100%;
				}
			}
		}
	}	
}

